#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  margin-top: auto;
}

.navbar-btns a {
  text-decoration: none;
  color: black;
}
.enter-store {
  text-decoration: none;
  color: aliceblue !important;
}
.enter-store:hover {
  color: aliceblue !important;
}
#root > .login {
  height: 88vh !important;
}
.admin .nav-tabs a {
  cursor: pointer !important;
  transition: 200ms;
}
.admin .nav-tabs a.active {
  background-color: coral;
  color: aliceblue;
}
.text-bold {
  font-weight: 700;
}
.category-list .cat-tr,
#storePendingItems {
  cursor: cell;
}
.category-list > div > #mainTable {
  width: 250px !important;
}
.category-list > div > #subTable {
  width: 450px !important;
}
.store-app form .topSection {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.store-app form .topSection > label {
  border: 3px solid red;
  padding: 0;
}
.store-app form .topSection > label:first-of-type {
  height: 250px;
  width: 100%;
}
.store-app form .topSection > label:nth-of-type(2) {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 25%;
  left: 15px;
  z-index: 10;
  background-color: aliceblue;
}
.store-app form .topSection div.line {
  position: absolute;
  top: 65%;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
}
.store-app form .topSection h1 {
  position: absolute;
  top: 65%;
  left: 35%;
}
.store-app form input[type="file"] {
  display: none;
}
.container.store-app .wrapper {
  overflow: hidden;
  height: 100%;
}
.container.store-app .wrapper img {
  width: 100%;
}

.create-product-modal .new-product-images {
  display: flex;
}
.create-product-modal .new-product-images .item.main-img {
  order: 1 !important;
}
.create-product-modal .new-product-images .item {
  order: 5;

  display: flex;
  flex-direction: column;
}
.create-product-modal .new-product-images .item .item-btn {
  width: 60px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: crimson;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 10px auto;
  cursor: pointer;
  color: aliceblue;
}
.create-product-modal .new-product-images .item.main-img .item-btn {
  display: none;
}
.create-product-modal .new-product-images label + label {
  margin-left: 15px;
}
.create-product-modal .new-product-images label {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  overflow: hidden;
}
.create-product-modal .new-product-images label img {
  width: 100%;
}
.create-product-modal .new-product-images input {
  display: none;
}
.admin-product .products-table {
  width: 100%;
}
.admin-product .products-table td {
  height: 100%;
}
.admin-product .products-table .imgs-wrapper {
  width: 150px;
  height: 75px;
  overflow: hidden;
}
.admin-product .products-table .imgs-wrapper img {
  height: 100%;
}
.admin-product .products-table tr {
  align-items: center;
}
.admin-product .products-table tbody tr {
  cursor: cell;
}
.admin-product .products-table tr td:first-of-type {
  display: flex;
}
.store-management .topSection {
  height: 250px;
  width: 100%;
  background-color: aqua;
  position: relative;
  border: 1px solid black;
}
.store-management .topSection > label {
  padding: 0;
}
.store-management .topSection > label:first-of-type {
  height: 250px;
  width: 100%;
}
.store-management .topSection > label:nth-of-type(2) {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 25%;
  left: 15px;
  z-index: 10;
  background-color: aliceblue;
}
.store-management .topSection > label:nth-of-type(2) .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-management .topSection div.line {
  position: absolute;
  top: 65%;
  border: 3px solid rgb(255, 255, 255);
  width: 100%;
}
.store-management .topSection h1 {
  position: absolute;
  top: 70%;
  left: 50%;
  color: aliceblue;
}
.store-management input[type="file"] {
  display: none;
}
.container.store-management .wrapper {
  overflow: hidden;
  height: 100%;
}
.container.store-management .wrapper img {
  width: 100%;

  display: block;
  background-color: aliceblue;
}
/* .container.store-management .wrapper img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
} */
.store-lists ul li {
  cursor: pointer;
}
.store-management .topSection .imageSaveBtns {
  position: absolute;
  top: -40px;
  right: 0;
  width: 125px;
  display: flex;
  justify-content: space-between;

  transition: 500ms;
}
.store-management .productTable tbody tr {
  height: 100px;
}
.store-management .productTable tbody tr th {
  vertical-align: middle;
}
.store-management .productTable tbody tr td {
  vertical-align: middle;
  /* text-align: center; */
}
.store-management .productTable .createProduct {
  cursor: pointer;
}
.store-management .productTable .createProduct > th {
  text-align: center;
  font-size: 42px;
  color: #826f6f;
}
.store-management .productTable tbody tr {
  cursor: pointer;
}
