#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}
.enter-store {
  text-decoration: none;
  color: aliceblue;
}
.enter-store:hover {
  color: aliceblue;
}
.navbar-btns a {
  text-decoration: none;
  color: black;
}
