#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  margin-top: auto;
}

.navbar-btns a {
  text-decoration: none;
  color: black;
}
.enter-store {
  text-decoration: none;
  color: aliceblue !important;
}
.enter-store:hover {
  color: aliceblue !important;
}
#root > .login {
  height: 88vh !important;
}
.admin .nav-tabs a {
  cursor: pointer !important;
  transition: 200ms;
}
.admin .nav-tabs a.active {
  background-color: coral;
  color: aliceblue;
}
.text-bold {
  font-weight: 700;
}
.category-list .cat-tr,
#storePendingItems {
  cursor: cell;
}
.category-list > div > #mainTable {
  width: 250px !important;
}
.category-list > div > #subTable {
  width: 450px !important;
}
.container.store-app .wrapper {
  width: 100%;

  overflow: hidden;
  text-align: center;
}
.container.store-app .wrapper img {
  width: 100%;
}
.create-product-modal .new-product-images {
  display: flex;
}
.create-product-modal .new-product-images .item.main-img {
  order: 1 !important;
}
.create-product-modal .new-product-images .item {
  order: 5;

  display: flex;
  flex-direction: column;
}
.create-product-modal .new-product-images .item .item-btn {
  width: 60px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: crimson;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 10px auto;
  cursor: pointer;
  color: aliceblue;
}
.create-product-modal .new-product-images .item.main-img .item-btn {
  display: none;
}
.create-product-modal .new-product-images label + label {
  margin-left: 15px;
}
.create-product-modal .new-product-images label {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  overflow: hidden;
}
.create-product-modal .new-product-images label img {
  width: 100%;
}
.create-product-modal .new-product-images input {
  display: none;
}
